h1 {
    color:#aeae81;
}

img {
    width:100%;
    max-height: 40vh;
    object-fit: cover;
    
}


header nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    /* display: block; */
    /* padding: 15px 0; */
    /* margin: 9px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out ;
    color: #fff; */
}



.sticky{
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
}


/*     SECTION HOME     */

.home{
    height: 650px;
    background-image: url('../images/photo17.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home .home-title{
    color: #628a2e;
    font-size : 60px;
    margin-bottom: 20px;
}

.home .home-desc{
    color: #fff;
    font-size: 50px;
}

.home .button{
    background:  #aeae81d3;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
}


.gris {
    background-color: #cccccc;
}

.vert {
    background-color: lightgreen;
}

body.index section {
    display: flex;
    flex-wrap: wrap;
}

body.index article {
    width: calc(100% / 3);
    padding: 1rem;
}

footer{
    position: static;
    bottom: 0px;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.76);
}

.main-content{
    display: flex;
}
    
.main-content .box{
        flex-basis: 50%;
        padding: 30px 100px;
        padding-bottom: 10px;
}

.box h2{

    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 1px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    /* background: #f12020; */

}

.left .content p{
    text-align: justify;
}


.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
padding: 0 2px;
}

.left .content-text{
    color: #aeae81;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a#aeae81;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background : #aeae81;
    color: black;

}

.center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a#aeae81;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;

}

.center .content .fas:hover{
    background : #aeae81;
}

.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: #aeae81;

}

.center .content .phone{
    margin: 10px 0;

}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #aeae81;

}
.right form .msg{
    margin-top: 10px;
}

.right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;

}

.right form input:focus, 
.right form textarea:focus{
    outline-color: #3498db;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    background: #aeae81;
    font-size : 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3;
}

.right form .btn button:hover{
    background: rgba(126, 125, 125, 0.452);

}

.bottom center{
    padding: 5px;
    font-size: 0.9375rem ;
    background: #151515
}

.bottom center span{
    color: #aeae81;

}

.bottom center a{
    color: #7cb62f;
    text-decoration: none;
}

.bottom center a:hover{
    text-decoration: underline;

}